name: Periodic Benchmark Run
on:
  push:
    branches:
      - 'main'
  schedule:
    # 4 times per day at 45 minutes past the hour
    - cron: "4 0,6,12,18 * * *"
  workflow_dispatch: {}

env:
  CARGO_TERM_COLOR: always
  RUST_LOG: info
  PARTITIONS: 8
  ITERATIONS: 4  # TODO: Increase once stable

jobs:
  build-wasmtime:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # for now, limit this a bit
        revision: ["main", "v25.0.0"]
    env:
      REVISION: ${{ matrix.revision }}
    steps:
    - uses: actions/checkout@v4
    - run: rustup update
    - name: Build Engine
      run: |
        pushd engines/wasmtime
        rustc build.rs
        ./build
        popd
    - name: Upload Wasmtime Shared Library
      uses: actions/upload-artifact@v4
      with:
        name: wasmtime-${{ matrix.revision }}
        path: engines/wasmtime/libengine.so

  benchmark:
    runs-on: ubuntu-latest
    needs: build-wasmtime
    strategy:
      matrix:
        partition: ["00", "01", "02", "03", "04", "05", "06", "07"]
    env:
      SPLIT_PREFIX: "benchmarks/split-"
      PARTITION_SUITE: "benchmarks/split-${{ matrix.partition }}.suite"
    steps:
    - uses: actions/checkout@v4
    - name: Downloads All Artifacts (root)
      uses: actions/download-artifact@v4
      with:
        path: artifacts
    - run: rustup update
    - run: chmod +x artifacts/*/*.so
    - run: |-
        benchmarks/split-suite.sh benchmarks/all.suite "$PARTITIONS" "$SPLIT_PREFIX"
    - name: Benchmark Partition ${{ matrix.partition }}
      run: |-
        cargo run benchmark \
        --engine=artifacts/wasmtime-main/libengine.so \
        --processes=4 \
        "--iterations-per-process=${ITERATIONS}" \
        --benchmark-phase=execution \
        --raw \
        -f json \
        -o benchmark-results.json \
        -- "${PARTITION_SUITE}"
    - name: Upload Results to Next Stage
      uses: actions/upload-artifact@v4
      with:
        name: benchmark-${{ matrix.partition }}
        path: benchmark-results.json

  aggregate_results:
    runs-on: ubuntu-latest
    needs: benchmark
    steps:
      - uses: actions/checkout@v4
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - run: ls -al artifacts benchmarks .

      - name: Transform Results Format
        run: |
          benchmarks/sightglass-to-continuous.py \
            -o continuous-custom.json \
            artifacts/benchmark-*/benchmark-results.json \

      - name: Output Results
        run: jq . continuous-custom.json
